<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="anasayfa">Teknik Servis Takip Sistemi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="anasayfa" routerLinkActive="active">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servis-liste" routerLinkActive="active">Servis Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servis-kayit" routerLinkActive="active">Yeni Kayıt</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
              Yönetim Paneli
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="yonetim-panel" routerLinkActive="active">Panel</a></li>
              <li><a class="dropdown-item" href="yonetim-kayit" routerLinkActive="active">Yeni Kayıt</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item link-danger" href="anasayfa" (click)="yonetimCikis()">Yönetim Çıkış</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="navbar-nav nav-item" style="font-size: 25px">
            <a href="" (click)="cikis()">
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>