<div class="container mt-5" style="font-size: 17px;">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div *ngIf="hataMesaji" class="alert alert-warning" role="alert">
                        {{ hataMesaji }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Ad Soyad</th>
                                <th scope="col">E-Posta</th>
                                <th scope="col">Yetki</th>
                                <th scope="col">İşlemler 
                                    <a href="yonetim-kayit"><button class="btn btn-sm btn-success mx-2" type="button">
                                        <i class="fa-regular fa-square-plus"></i>
                                    </button></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of personelListesi; index as i">
                                <th>{{i+1}}</th>
                                <td>{{ item.personel_adi }}</td>
                                <td>{{ item.personel_eposta }}</td>
                                <td>{{ item.personel_yetki }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning mx-2" type="button" (click)="personelDegistir(item)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" type="button" (click)="personelSil(item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>



</div>